<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Bin sets</strong>
        <span class="pull-right clickable-fa">
            <span class="fa fa-lg fa-plus"
                  data-bind="click: function() { $('#bin-set-modal').modal() }"></span>
        </span>
    </div>
    
    <ul class="list-group" data-bind="foreach: binSets">
        <li class="list-group-item" data-bind="borderColor: color, 
                                               borderWidth: $parent.isSelectedBinSet(id)  ? '4px' : '2px'">
            <span class="badge" data-bind="text: bins.length + ' bins'"></span>
            <b data-bind="text: name, visible: $parent.isSelectedBinSet(id)"></b>
            <a href="#" data-bind="text: name, click: $parent.selectBinSet, visible: !$parent.isSelectedBinSet(id)"></a>
        </li>
    </ul>
</div> 
    
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Bins</strong>
    </div>

    <ul class="list-group" data-bind="foreach: bins, visible: !loading()">
        <li class="list-group-item" 
            style="cursor: pointer"
            data-bind="borderColor: color,
                        borderWidth: $parent.isSelectedBin(id)  ? '4px' : '2px',
                        css: { 'selected': $parent.isSelectedBin(id) },
                        click: function() { $parent.bin($data); }">
            <div class="row">
                <div class="col-xs-3">
                    <p class="list-group-item-text" data-bind="text: 'Bin ' + name()"></p>
                </div>
                <div class="col-xs-9">
                    <p class="list-group-item-text pull-right" data-bind="text: gc"
                       style="color: #777 !important"></p>
                </div>
            </div>
        </li>
    </ul>
    
    <div style="text-align: center" data-bind="if: loading">
        <span class="fa fa-refresh fa-spin fa-lg"></span>
    </div>
</div>