<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th width="5%"></th>
                        <th width="25%">Bin</th>
                        <th width="20%">Contigs</th>
                        <th width="20%">GC</th>
                        <th width="20%">N50</th>
                        <th width="10%">Color</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: bins">
                    <tr>
                        <td width="5%">
                            <input type="checkbox" 
                                data-bind="checkedValue: $data, 
                                            checked: $parent.selectedBins,
                                            attr: { disabled: $parent.loading }">
                        </td>
                        <td data-bind="text: name" width="25%"></td>
                        <td data-bind="text: size" width="20%"></td>
                        <td data-bind="text: gc" width="20%"></td>
                        <td data-bind="text: n50" width="20%"></td>
                        <td width="10%">
                            <button data-bind="style: { 'background-color': color }" class="colorBox"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        <form class="form-inline">
            <button type="submit" class="btn btn-success btn-sm"><span class="fa fa-plus"></span></button>
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="New bin..">
            </div>
        </form>
    </div>
    <div class="col-xs-6">
        <div class="btn-toolbar" role="toolbar">
            <axis-parameter class="btn-group" params="axis: x, samples: assembly().samples, name: 'X'">
            </axis-parameter>
            <axis-parameter class="btn-group" params="axis: y, samples: assembly().samples, name: 'Y'">
            </axis-parameter>
            
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    <strong>Color: </strong>
                    <span data-bind="text: color"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: function() { color('bin') }">Bin</a></li>
                    <li><a href="#" data-bind="click: function() { color('gc') }">GC</a></li>
                </ul>
            </div>
        
            <div class="pull-right">
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default" 
                            data-bind="css: { active: panning }, click: function() { panning(true) }">
                        <span class="fa fa-arrows"></span>
                    </button>
                    <button type="button" class="btn btn-default" 
                            data-bind="css: { active: !panning() }, click: function() { panning(false) }">
                        <span class="fa fa-pencil"></span>
                    </button>
                </div>
                
                <button type="button" class="btn btn-default btn-sm">
                    <span class="fa fa-floppy-o"></span>
                </button>
            </div>
        </div>
        <div data-bind="scatterPlot: contigs, x: x, y: y, panning: panning, selected: selectedContigs, color: color"></div>
    </div>
    <div class="col-xs-3">
        <contig-table params="contigs: selectedContigs, bins: bins"></contig-table>
    </div>
</div>