<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Contig</th>
                <th>GC</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody data-bind="visible: !loading(), foreach: contigs">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: gc"></td>
                <td data-bind="text: length"></td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: center" data-bind="if: loading">
        <span class="fa fa-refresh fa-spin fa-lg"></span>
    </div>
</div>