<div class="row">

<div class="col-xs-10">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header">
                <h1>CoReBIN <small>Comparison and Evaluation of metagenomic binning</small></h1>
            </div>

            <h4>Help</h4>
            <p>
                CoReBIN is a user-friendly web-based tool to compare the results of different binning methods and to aid manual refinement of the bins. The overall binning result of two different methods can be visually compared in a chord diagram. Individual bins can be inspected and refined using GC%, coverage and tetranucleotide frequencies.               
            </p>
            
            <h4>Input data</h4>
            <p>
                <ul>
                <li>Metagenomic assembly (fasta format)</li>
                <li>Coverage table (see format details below) <i>not required</i></li>             
                <li>One or more binning results (see format details below)</li>
                </ul>
            </p>

            <h4>Getting started</h4>
            <p>
            	<ol>
            	<li><b>Upload your metagenomic assembly (fasta format)</b>. It is beneficial to also upload a table with coverage information on your assembly.</li>
            	<li>Next you can <b>upload the result of your binning in the "Overview" tab</b>. To do so, you need a file in which the contig ID if followed by the bin number (e.g. contig </t> binID).</li>
            	</ol>
            </p>
            
         
        </div>
    </div>
</div>



</div>