<div class="panel panel-default" style="border-top: 0">
    <div class="panel-body">
        <div class="btn-toolbar" data-bind="visible: !action()">
            <button class="btn btn-info btn-sm" type="button"
                    data-bind="click: function() { action('move') },
                               css: { disabled: !fromBin() } ">Move</button>
            <button class="btn btn-danger btn-sm" type="button"
                    data-bind="click: function() { action('delete') }">Delete</button>
                    
            <div class="pull-right">
                <button class="btn btn-default btn-sm" type="button"
                        data-bind="click: function() { contigs([]) }">Deselect</button>
            </div>
        </div>
        <div class="row" data-bind="visible: action() == 'move'">
            <div class="col-xs-8">
                <select class="form-control input-sm"
                        data-bind="options: bins,
                                   optionsText: 'name',
                                   value: toBin,
                                   optionsCaption: 'Move to bin..'">
                </select>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-primary btn-sm" type="button"
                        data-bind="click: move, css: {'disabled': !toBin()}">Move</button>
                <button class="btn btn-default btn-sm pull-right" 
                        data-bind="click: function() { action(null); }">
                    <span class="fa fa-times"></span>
                </button>
            </div>
        </div>
        <div class="row" data-bind="visible: action() == 'delete'">
            <div class="col-xs-8"> Delete from bin? </div>
            <div class="col-xs-4">
                <button class="btn btn-primary btn-sm" type="button" 
                        data-bind="click: remove">Delete</button>
                <button class="btn btn-default btn-sm pull-right" 
                        data-bind="click: function() { action(null); }">
                    <span class="fa fa-times"></span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="panel-body" data-bind="with: pagination">
        <!-- ko foreach: showContigs -->
        <div class="row contig-vis" style="border-left: 4px solid"
             data-bind="style: { 'border-left-color': $data['color_' + $parents[1].binSet().id] },
                        click: function() { 
                            $component.showInfo() == $data.id ? 
                                $component.showInfo(null) : $component.showInfo($data.id) 
                        }">
            <div class="col-xs-4">
                <span data-bind="text: name"></span>
            </div>
            <div class="col-xs-8">
                <div data-bind="contigVis: $data, binSet: $parents[1].binSet"></div>
            </div>
            <div class="col-xs-12" data-bind="visible: $component.showInfo() == $data.id">
                <table class="table table-ultra-condensed table-bordered">
                    <tbody data-bind="foreach: $component.assembly().samples">
                        <tr>
                            <td>
                                <strong data-bind="text: $data"></strong>
                            </td>
                            <td>
                                <span data-bind="text: $parent[$data]"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                    <button class="btn btn-link"><span class="text-danger">delete<span></button>
                    <button class="btn btn-link" 
                            data-bind="click: function() { 
                                $component.contigs.remove($data);
                            }">deselect</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <nav>
            <ul class="pager pager-contigs">
                <li data-bind="css: { disabled: !canPrev() }">
                    <a href="#" data-bind="click: prev">&larr;</a>
                </li>
                <li data-bind="css: { disabled: !canNext() }">
                    <a href="#" data-bind="click: next">&rarr;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>