<div class="panel panel-default" style="border-top: 0">
    <div class="panel-body">
        <div class="pull-right" data-bind="visible: !newBin()">
            <button class="btn btn-success btn-sm" data-bind="toggleClick: newBin">
                <span class="fa fa-plus"></span>
            </button>
        </div>
        <form class="form-inline" method="post" enctype="multipart/form-data" 
                data-bind="submit: createBin, visible: newBin">
            <div class="form-group">
                <input type="text" name="name" class="form-control input-sm" placeholder="New bin..">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Add</button>
            <button class="btn btn-default btn-sm pull-right" data-bind="toggleClick: newBin">
                <span class="fa fa-times"></span>
            </button>
        </form>
    </div>
    
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="25%">Bin</th>
                <th width="20%">Contigs</th>
                <th width="20%">GC</th>
                <th width="20%">N50</th>
                <th width="10%">Color</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: bins">
            <tr>
                <td width="5%">
                    <input type="checkbox" 
                        data-bind="checkedValue: $data, 
                                   checked: $parent.selectedBins,
                                   attr: { disabled: $parent.loading }">
                </td>
                <td data-bind="text: name" width="25%"></td>
                <td data-bind="text: size" width="20%"></td>
                <td data-bind="text: gc" width="20%"></td>
                <td data-bind="text: n50" width="20%"></td>
                <td width="10%">
                    <button data-bind="style: { 'background-color': color }" class="colorBox"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>