#content {
    margin-top: 10px;
    padding: 0;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

body {
  background-color: #eee;
}

.background {
  background-color: white;
}

.h4 {
  margin-top:15px;
}

#page {
    margin-top: 10px;
}

.panel {
  margin-bottom: 1em;
}

.panel-heading {
  padding: .5em;
  padding-left: 1em;
}

#tab .panel {
    border-top-style: hidden;
}

.panel-toolbar {
  margin-bottom: .5em;
}

.panel-toolbar .btn {
  border: 0;
}

.panel-toolbar .panel-body {
  padding: 1px;
}

.panel-chart > .panel-heading {
  color: #333;
  background-color: white;
  font-size: larger;
  font-weight: bold;
  border: 0;
}

.selected {
  border-left-width: 4px;
  color: black !important;
  font-weight: bold;
}

.bin-description p {
  margin-bottom: 0;
}

.colorBox {
    float: left;
    width: 15px;
    height: 15px;
    margin: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

.contig-vis {
  cursor: pointer;
}

.contig-vis:hover {
  background-color: #eee;
}

.pager-contigs {
  margin: 0 !important;
  text-align: right;
}

.name {
  font-size: 1.6em;
}

.name::before {
  color: #777;
  font-size: small;
}

#assembly-name::before { content: "Assembly "; }
#bin-set-name::before { content: "Bin set "; }
#bin-name::before { content: "Bin "; }

.name-div {
  padding: 4px 0 4px 10px;
  margin-bottom: 1em ;
  border: 1px solid #dcdcdc;
}

table.table-ultra-condensed > tbody > tr > td {
  padding: 2px;
}

.bin-list {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
}

/* Nav */
.inverted-nav a {
  color: white;
}

.inverted-nav li a:hover,.inverted-nav li.dropdown a:focus {
  background-color: steelblue;
  color: white;
}

.inverted-nav li.active a,
.inverted-nav li.active a:focus,
.inverted-nav li.active a:hover {
  background-color: white;
  color: #555;
  font-weight: bold;
}

.inverted-nav li.disabled a,
.inverted-nav li.disabled a:hover {
  color:#bac0c3;
}

#ids-popup {
    position: fixed;
    right: 2em;
    bottom: 2em;
    box-shadow: 0 0 5px #ddd;
}

.popup-visible {
    visibility: visible;
    z-index: 200;
    opacity: 1;
    transform: scale(1);
    transition: all .2s ease-in-out;
}

.popup-invisible {
    transform: scale(0);
    transition: all .2s ease-in-out;
}

/* D3 axis */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Scatterplot */
.dot {
  stroke: #000;
}

#tooltip {
  position: absolute;
  width: 170px;
  height: 25px;
  padding: 2px;
  pointer-events: none;
}

/* Lasso */
.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}

.lasso .drawn {
  fill-opacity:.05 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}

/* Histogram */
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.hist-axis text {
  font-size: 10px;
}

/* Chord */
#chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}

.list-group-condensed .list-group-item {
    padding-top: 3px;
    padding-bottom: 3px;
}