#content {
    margin-top: 10px;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#page {
    margin-top: 10px;
}

#tab .panel {
    border-top-style: hidden;
}

.colorBox {
    float: left;
    width: 15px;
    height: 15px;
    margin: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

/* Scatterplot */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
    border: 1px solid black;
    background-color: white;
}

/* Lasso */
.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}

.lasso .drawn {
  fill-opacity:.05 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}