#content {
    margin-top: 10px;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#page {
    margin-top: 10px;
}

#tab .panel {
    border-top-style: hidden;
}

#bin-set-item {
    border-left-width: 3px;
    border-left-color: black;
}