<ul class="nav nav-tabs">
    <li role="presentation" data-bind="css: {active: route().page === 'home-page'}">
        <a href="#home"><span class="fa fa-lg fa-home"></span></a>
    </li>
    <li role="presentation" data-bind="css: {active: route().page === 'overview-page',
                                             disabled: !assembly()}">
        <a href="#overview"><span class="fa fa-eye"></span> Overview</a>
    </li>
    <li role="presentation" data-bind="css: {active: route().page === 'compare-page',
                                             disabled: !assembly()}">
        <a href="#compare"><span class="fa fa-balance-scale"></span> Compare</a>
    </li>
    <li role="presentation" data-bind="css: {active: route().page === 'refine-page',
                                             disabled: !assembly()}">
        <a href="#refine"><span class="fa fa-cog"></span> Refine</a>
    </li>
    <li role="presentation" data-bind="css: {active: route().page === 'help-page'}">
        <a href="#help"><span class="fa fa-question-circle"></span> Help</a>
    </li>
    
    <li class="pull-right row" style="border: 0">
        <span class="fa fa-refresh fa-spin fa-lg" data-bind="visible: assemblyLoading"></span>
        
        <small data-bind="visible: !assemblyLoading() && !assembly()">Upload or select an assembly to begin.</small>
        
        <!-- ko if: !assemblyLoading() && assembly() -->
        <div class="dropdown col-xs-6">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <strong> Assembly </strong>
                <span data-bind="text: assembly().name"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-bind="foreach: assemblies">
                <li data-bind="css: {'disabled': $data == $component.assembly()}">
                    <a href="#overview" data-bind="click: $component.selectAssembly">
                        <span data-bind="text: name"></span> 
                    </a>
                </li>
            </ul>
        </div>
        <!-- /ko -->
        
        <!-- ko if: !assemblyLoading() && binSet() -->
        <div class="dropdown col-xs-6">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <strong> Bin set </strong>
                <span data-bind="text: binSet().name"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-bind="foreach: binSets">
                <li data-bind="css: {'disabled': $data == $component.binSet()}">
                    <a href="#overview" data-bind="click: $component.selectBinSet">
                        <span data-bind="text: name"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /ko -->
    </li>
</ul>
