<div class="btn-group btn-group-sm" role="group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <strong><span data-bind="text: name"></span>:</strong>
        <span data-bind="text: axis().data"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="dropdown-header">Sequence</li>
        <li><a href="#" data-bind="click: function() { axis().data('gc') }">GC</a></li>
        <li><a href="#" data-bind="click: function() { axis().data('length') }">Length</a></li>
        
        <li class="dropdown-header">Coverage</li>
        <!-- ko foreach: samples -->
        <li><a href="#" data-bind="click: function() { $parent.axis().data($data) }, text: $data"></a></li>
        <!-- /ko -->
        
        <li class="dropdown-header">PCA</li>
        <li><a href="#" data-bind="click: function() { axis().data('pc_1') }">PC 1</a></li>
        <li><a href="#" data-bind="click: function() { axis().data('pc_2') }">PC 2</a></li>
        <li><a href="#" data-bind="click: function() { axis().data('pc_3') }">PC 3</a></li>
        
        <li role="separator" class="divider"></li>
        <li>
            <a href="#" data-bind="click: toggleLog">
                <span class="fa" data-bind="css: axis().log() ? 'fa-check-square-o' : 'fa-square-o'"></span>
                Logarithmic
            </a>
        </li>
        <li>
            <a href="#" data-bind="click: toggleLabel">
                <span class="fa" data-bind="css: axis().label() ? 'fa-check-square-o' : 'fa-square-o'"></span>
                Show label
            </a>
        </li>
    </ul>
</div>